<div class="row">

    <div class="col-6">

        <input [(ngModel)]="searchText" type="text" class="form-control" placeh older="Type to filter">

    </div>

</div>

<hr>

<table class="table table-striped" *ngIf='estampillas && estampillas.length'>

    <thead>
        <tr>
            <th scope="col">#</th>

            <th scope="col">Numero De Contrato </th>

            <th scope="col">Objeto Del Contrato </th>

            <th scope="col">Valor Del Contrato </th>

            <th scope="col">Apoya Emergencia Covid-19</th>

            <th scope="col">Valor Estampilla</th>
        </tr>
    </thead>

    <tbody>

        <tr *ngFor="let estampilla of estampillas; index as i ">

            <th scope="row">{{ i + 1 }}</th>

            <td>{{ estampilla.numeroDeContrato }} </td>

            <td>{{ estampilla.objetoDelContrato }}</td>

            <td>{{ estampilla.valorDelContrato }}</td>

            <td>{{ estampilla.apoyaEmergenciaCovid19 }}</td>

            <td>{{ estampilla.valorEstampilla }}</td>

        </tr>
    </tbody>
</table>