<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>Registrar</h2>
            <form >
                                
                <div class="form-group">
                    <label>Numero De Contrato</label>
                    <input type="text"  name="numeroDelContrato"  [(ngModel)]="estampilla.numeroDeContrato" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Objeto Del Contrato</label>
                    <input type="text"  name="objetoDelContrato"  [(ngModel)]="estampilla.objetoContrato" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Valor Del Contrato</label>
                    <input type="number"  name="valorDelContrato"  [(ngModel)]="estampilla.valorDelContrato" class="form-control" />
                </div>
                
                <div class="form-group">
                    <label>Apoya Emergencia Covid-19:
                      <select [(ngModel)]="estampilla.apoyaEmergenciaCovid19" name="apoyaEmergenciaCovid19" >
                        <option>SI</option>
                
                        <option>NO</option>
                        </select>
                    </label>
                  </div>
               
                <div class="text-center">
                    <button class="btn btn-primary mr-1"(click)="add()">Registrar</button>
                    <button class="btn btn-secondary" type="reset">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
